# Python / Django
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
db.sqlite3
.env

# Flutter / Dart
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/pubspec.lock
*.iml
.idea/
